html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.clearCompleted:focus{
	outline:0;
}
.clearCompleted:hover{
	color: red;
    font-weight: bold;
}
.bottomButton, .clearCompleted{
    height:40px;
    background: white;
    border: 0;
    padding: 10;
    font-size: 12px;
    cursor: pointer;
}
.bottomButton:hover{
	color: red;
	font-weight: bold;
}
.listEntry{
    padding: 20px;
    background: white;
    height: 65px;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    border-style: solid;
    border-color: #DBDBDB;
    border-width: 2px 0 0 0;
}
.inputBar:hover{
	outline: 0;
}
.inputBar:focus{
	outline: 0;
}
.bottomBar{
	border-style:solid;
    border-color: #DBDBDB;
    border-width: 2px 0 0 0;
}
button:focus{
	outline: 0;
}
.deleteButton:hover{
	color:red;
    font-weight: bold;
}